@media (min-width: 768px) {
	.navbar-pf .navbar-header {
		height: 25px;
	}

	.navbar-pf .navbar-brand {
		padding: 2px 0px;
		margin: 0px 4px;
	}
}

.buffer-top-sm {
	padding-top: 10px;
}

.buffer-top-md {
	padding-top: 20px;
}
