@media (min-width: 768px) {
	.navbar-pf .navbar-header {
		height: 25px;
	}

	.navbar-pf .navbar-brand {
		padding: 2px 0px;
		margin: 0px 4px;
	}
}

.buffer-top-sm {
	padding-top: 10px;
}

.buffer-top-md {
	padding-top: 20px;
}

.table-view-pf-pagination {
	margin-top: -20px;
}

/* Workaround a probable bug in the PatternFly. */
table > tbody > tr > td.table-view-pf-actions {
	padding: 0px;
}
