<!DOCTYPE html>
<html lang="{{get_locale()}}">
 <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf8">
  {% include "header.html" %}
  <link rel="stylesheet" href="/static/base/css/global.css">
  <title>{% block title %}{% endblock %}</title>
 </head>
 <body>
  {% include "navigation.html" %}

  <div class="container-fluid buffer-top-md">
   {% for category, message in get_flashed_messages(with_categories=true) %}
   <div class="alert {{category|to_alert}}" role="alert">
    <span class="pficon {{category|to_icon}}" aria-hidden="true"></span>
    {{message}}
   </div>
   {% endfor %}
  </div>

  {% block content %}
  {% endblock %}

  {% include "footer.html" %}
 </body>
</html>
