<!DOCTYPE html>
<html lang="{{get_locale()}}">
 <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.25.0/css/patternfly.min.css" integrity="sha256-YbUVaQKVGa9a+bEZvQ3/dJ9FVo+Idfw4iiltuAivuAM=" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.25.0/css/patternfly-additions.min.css" integrity="sha256-FQzBmmc8NmQDw1F4IYzjTimN6/611ygDkSKGFV7keqo=" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css" integrity="sha256-nFp4rgCvFsMQweFQwabbKfjrBwlaebbLkE29VFR0K40=" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/base/css/global.css">
  {% block head %}
  {% endblock %}
  <title>{% block title %}{% endblock %} - {% trans %}Demo{% endtrans %}</title>
 </head>
 <body>
  {% block navigation %}
  <nav class="navbar navbar-default navbar-pf" role="navigation">
   <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
     <span class="sr-only">{% trans %}Toggle navigation{% endtrans %}</span>
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">
     <b>{% trans %}Demo{% endtrans %}</b>
     {% trans %}A Foo Frobnicator{% endtrans %}
    </a>
   </div>

   <div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-utility">
     {% block utility %}
     <li class="dropdown">
      <a href="/user" class="dropdown-toggle" data-toggle="dropdown">
       <span class="pficon pficon-user"></span>
       {% trans %}User{% endtrans %}<b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
       <li><a href="/settings">{% trans %}Settings{% endtrans %}</a></li>
       <li class="divider"></li>
       <li><a href="/logout">{% trans %}Logout{% endtrans %}</a></li>
      </ul>
     </li>
     {% endblock %}
    </ul>
    <ul class="nav navbar-nav navbar-primary {{'persistent-secondary' if second_level_menu() else ''}}">
     {% block navbar %}
     {% for item in first_level_menu() %}
     <li class="{{'active' if item.active_item else ''}}">
      <a href="{{item.url}}">{{_(item.text)}}</a>
      {% if item.children %}
      <ul class="nav navbar-nav navbar-persistent">
       {% for sub in second_level_menu() %}
       <li class="{{'active' if sub.active else ''}}">
        <a href="{{sub.url}}">{{_(sub.text)}}</a>
       </li>
       {% endfor %}
      </ul>
      {% endif %}
     </li>
     {% endfor %}
     {% endblock %}
    </ul>
   </div>
  </nav>
  {% endblock %}

  <div class="alerts-container">
   {% for category, message in get_flashed_messages(with_categories=true) %}
   <div class="alert {{category|to_alert}}" role="alert">
    <span class="glyphicon {{category|to_icon}}" aria-hidden="true"></span>
    <span class="sr-only"></span> {{message}}
   </div>
   {% endfor %}
  </div>

  {% block content %}
  {% endblock %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.5.4/jquery.timeago.min.js" integrity="sha256-RGVJ3XqPrGsHeJ0N7N++mrbAFdVsT7JfOYefjD8t3qw=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.25.0/js/patternfly.min.js" integrity="sha256-V+wCHUX+wJK0Z39hQB7X3znuPiNIkfbDd3yIU8zHbn0=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js" integrity="sha256-urCxMaTtyuE8UK5XeVYuQbm/MhnXflqZ/B9AOkyTguo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.{{get_locale()}}.min.js" integrity="sha256-cNXNuWJEIuCf23hGX4rI4D5pfftNWz5+ekvUVD4VAbE=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-confirmation/1.0.5/bootstrap-confirmation.min.js" integrity="sha256-0lDCetJx/wJYWmLR1yr17IiofI6mcH+ohE5nLOYP7ZY=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/nod/2.0.12/nod.min.js" integrity="sha256-T4BKn5Y/Qq7KoFReFY5l8xix2ofHvRW4dIR85T2AN+Q=" crossorigin="anonymous"></script>
 </body>
</html>
