{% extends "base.html" %}

{% block title -%}
500: {% trans %}Internal Server Error{% endtrans %}
{%- endblock %}

{% block content %}
<div class="container-fluid buffer-top-md">
 <div class="row">
  <div class="col-md-8 col-md-push-2">
   <div class="blank-slate-pf">
    <h2>500: {% trans %}Internal Server Error{% endtrans %}</h2>

    <p>
     {% trans %}
     An internal error occured that has prevented the application from
     completing your request properly. Try again and if the problem persists,
     contact the application administrator.
     {% endtrans %}

     {% trans %}
     If you do, be sure to include full address of the page and precise
     date and time of the incident.
     {% endtrans %}
    </p>
   </div>
  </div>
 </div>
</div>
{% endblock %}
