{%- macro render_form_body(form) %}
{% for error in form.errors %}
<div class="alert alert-danger">
 <span class="pficon pficon-error-circle-o"></span> {{error}}
</div>
{% endfor %}

{% for field in form.fields.values() %}
<div class="form-group {{'has-error' if field.errors}}">
 {{field.render()}}
 {% for error in field.errors %}
 <p class="help-block">{{error}}</p>
 {% endfor %}
</div>
{% endfor %}
{% endmacro -%}


{%- macro render_form(form, class_='') %}
<form enctype="multipart/form-data" class="{{class_}}" method="{{form.method}}" action="{{form.action}}" role="form">
 <div class="panel panel-default">
  {% if form.label %}
  <div class="panel-heading">
   <h2 class="panel-title">
    {% if form.icon %}
    <span class="{{form.icon}}"></span>
    {% endif %}
    {{form.label}}
   </h2>
  </div>
  {% endif %}
  <div class="panel-body">
   {{render_form_body(form, **kwargs)}}
  </div>

  <div class="panel-footer">
   <div class="pull-right">
    {% for button in form.buttons.values() %}
    {{button.render()}}
    {% endfor %}
   </div>
   <div class="clearfix"></div>
  </div>
 </div>
</form>
{% endmacro -%}


{%- macro render_sub_form(field) %}
{% if form.label %}
<h3>{{form.label}}</h3>
{% endif %}
{{render_form_body(field.subform, **kwargs)}}
{% endmacro -%}


{% macro render_submit_button(button, class_='', disabled=false) %}
{%- if kwargs %}{% endif -%}
<button class="{{class_}} btn btn-primary" {% if disabled %}disabled{% endif %}  type="submit" name="{{button.id}}" id="{{button.id}}" value="{{button.value}}">{{button.label}}</button>
{% endmacro -%}


{% macro render_delete_button(button, class_='', disabled=false) %}
{%- if kwargs %}{% endif -%}
<button class="{{class_}} btn btn-danger" {% if disabled %}disabled{% endif %}  type="submit" name="{{button.id}}" id="{{button.id}}" value="{{button.value}}">{{button.label}}</button>
{% endmacro -%}


{% macro render_string_field(field, class_='', disabled=false) %}
{%- if kwargs %}{% endif -%}
<label class="{{class_}} form-control-label" for="{{field.id}}">{{field.label}}</label>
<input class="{{class_}} form-control" {% if disabled %}disabled{% endif %} type="text" pattern="{{field.pattern}}" {% if field.max_length != None %}maxlength="{{field.max_length}}"{% endif %} name="{{field.id}}" id="{{field.id}}" value="{{field.value}}"/>
{% endmacro -%}


{% macro render_text_field(field, class_='', disabled=false) %}
{%- if kwargs %}{% endif -%}
<label class="{{class_}} form-control-label" for="{{field.id}}">{{field.label}}</label>
<textarea class="{{class_}} form-control" {% if disabled %}disabled{% endif %} type="text" name="{{field.id}}" id="{{field.id}}">{{field.value}}</textarea>
{% endmacro -%}


{% macro render_numeric_field(field, class_='', disabled=false) %}
{%- if kwargs %}{% endif -%}
<label class="{{class_}} form-control-label" for="{{field.id}}">{{field.label}}</label>
<input class="{{class_}} form-control" {% if disabled %}disabled{% endif %} type="number" step="any" {% if field.min != None %}min="{{field.min}}"{% endif %}  {% if field.max != None %}min="{{field.max}}"{% endif %}name="{{field.id}}" id="{{field.id}}" value="{{field.value}}"/>
{% endmacro -%}


{% macro render_integer_field(field, class_='', disabled=false) %}
{%- if kwargs %}{% endif -%}
<label class="{{class_}} form-control-label" for="{{field.id}}">{{field.label}}</label>
<input class="{{class_}} form-control" {% if disabled %}disabled{% endif %} type="number" step="1" {% if field.min != None %}min="{{field.min}}"{% endif %}  {% if field.max != None %}min="{{field.max}}"{% endif %}name="{{field.id}}" id="{{field.id}}" value="{{field.value}}"/>
{% endmacro -%}


{% macro render_select_field(field, class_='', disabled=false) %}
{%- if kwargs %}{% endif -%}
<label class="{{class_}} form-control-label" for="{{field.id}}">{{field.label}}</label>
<select class="{{class_}} form-control" {% if disabled %}disabled{% endif %} name="{{field.id}}" id="{{field.id}}">
 {% if not field.default %}
 <option value="" {% if value == field.value %}selected{% endif %}></option>
 {% endif %}
 {% for value, label in field.choices.items() %}
 <option value="{{value}}" {% if value == field.value %}selected{% endif %}>{{label}}</option>
 {% endfor %}
</select>
{% endmacro -%}


{% macro render_select_multiple_field(field, class_='', disabled=false) %}
{%- if kwargs %}{% endif -%}
<label class="{{class_}} form-control-label" for="{{field.id}}">{{field.label}}</label>
<select class="{{class_}} form-control" multiple {% if disabled %}disabled{% endif %} name="{{field.id}}" id="{{field.id}}">
 {% for value, label in field.choices.items() %}
 <option value="{{value}}" {% if value in field.value %}selected{% endif %} >{{label}}</option>
 {% endfor %}
</select>
{% endmacro -%}


{% macro render_file_field(field, class_='', disabled=false) %}
{%- if kwargs %}{% endif -%}
<label class="{{class_}} form-control-label" for="{{field.id}}">{{field.label}}</label>
<input class="{{class_}} form-control" {% if disabled %}disabled{% endif %} type="file" {% if field.accept %}accept=".{{',.'.join(field.accept)}}"{% endif %} name="{{field.id}}" id="{{field.id}}" value="{{field.value}}"/>
{% endmacro -%}
