{% include "more-styles-before.html" %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.25.0/css/patternfly.min.css" integrity="sha256-YbUVaQKVGa9a+bEZvQ3/dJ9FVo+Idfw4iiltuAivuAM=" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.25.0/css/patternfly-additions.min.css" integrity="sha256-FQzBmmc8NmQDw1F4IYzjTimN6/611ygDkSKGFV7keqo=" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css" integrity="sha256-nFp4rgCvFsMQweFQwabbKfjrBwlaebbLkE29VFR0K40=" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-flexdatalist/1.9.7/jquery.flexdatalist.min.css" integrity="sha256-FbomYK9sq7oOtnalQiH2rULlremJT+Aoj5qUe3i+uow=" crossorigin="anonymous">
{% include "more-styles-after.html" %}
