<form class="content-view-pf-pagination table-view-pf-pagination clearfix">
 <div class="form-group">
  <span>
   <span class="pagination-pf-items-current">{{page.items_first}}-{{page.items_last}}</span>
   of <span class="pagination-pf-items-total">{{page.items_total}}</span>
  </span>

  <ul class="pagination pagination-pf-back">
   <li class="{{'disabled' if page.is_first() else ''}}">
    <a href="?page={{page.first}}" title="{{_('First Page')}}">
     <span class="i fa fa-angle-double-left"></span>
    </a>
   </li>

   <li class="{{'disabled' if page.is_first() else ''}}">
    <a href="?page={{page.prev}}" title="{{_('Previous Page')}}">
     <span class="i fa fa-angle-left"></span>
    </a>
   </li>
  </ul>

  <label for="pageno" class="sr-only">{{_('Current Page')}}</label>
  <input class="pagination-pf-page" type="text" value="{{page.number}}" id="pageno"/>
  <span>of <span class="pagination-pf-pages">{{page.last}}</span></span>

  <ul class="pagination pagination-pf-forward">
   <li class="{{'disabled' if page.is_last() else ''}}">
    <a href="?page={{page.next}}" title="{{_('Next Page')}}">
     <span class="i fa fa-angle-right"></span>
    </a>
   </li>

   <li class="{{'disabled' if page.is_last() else ''}}">
    <a href="?page={{page.last}}" title="{{_('Last Page')}}">
     <span class="i fa fa-angle-double-right"></span>
    </a>
   </li>
  </ul>
 </div>
</form>
