{% extends "base.html" %}

{% block title -%}
{{error.status}}: {% trans %}Invalid Request{% endtrans %}
{%- endblock %}

{% block content %}
<div class="container-fluid">
 <div class="row">
  <div class="col-md-8 col-md-push-2">
   <div class="blank-slate-pf">
    <h2>{{error.status}}: {% trans %}Invalid Request{% endtrans %}</h2>

    <p>
     {% trans %}
     The application was unable to accomodate your request.
     {% endtrans %}
    </p>

    <h3>{% trans %}Reason{% endtrans %}</h3>
    <p>{{error}}</p>

    {% if error.data %}
    <h3>{% trans %}Additional data{% endtrans %}</h3>
    <pre>{{error.data|pretty}}</pre>
    {% endif %}
   </div>
  </div>
 </div>
</div>
{% endblock %}
